<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "Alerts" | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ "Alerts" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-card *ngFor="let alert in alerts">
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{ alert.title }}</ion-label>
      <ion-button fill="outline" slot="end" *ngIf="alert.expandable === true">View</ion-button>
    </ion-item>

    <ion-card-content>
      {{ alert.resume }}
    </ion-card-content>
  </ion-card>


</ion-content>
