<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alerts">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>{{ 'alerts' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="holes">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>{{ 'holes' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="square"></ion-icon>
      <ion-label>{{ 'profile' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
