ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;
  --background: url('https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80') 0 0/100% 100% no-repeat;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header {
  text-align: center;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

button {
  margin-top: 20px;
  width: 100%;
}
