<div class="header">
  <h1>Protección civil - Apúntate</h1>
</div>

<div class="content">

  <form (ngSubmit)="login()" [formGroup]="credentials" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email" formControlName="username">
      <mat-error *ngIf="(username?.dirty || username?.touched) && username?.errors">
        <span *ngIf="username?.errors?.['required']">Email is required</span>
        <span *ngIf="username?.errors?.['email']">Email is invalid</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password">
      <mat-error *ngIf="(password?.dirty || password?.touched) && password?.errors">
        <span *ngIf="password?.errors?.['required']">Password is required</span>
        <span *ngIf="password?.errors?.['minlength']">Password needs to be 6 characters</span>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="!credentials.valid">Log in</button>

  </form>
</div>
