<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ service.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button onclick="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <div class="description" [innerHTML]="service.description"></div>
  <ion-grid>
    <ion-item *ngFor="let gap of service.gaps">
      <ion-avatar slot="start">
        <ion-img src="./avatar-gollum.jpg"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ gap.unitComponent.component.name }}</h2>
        <span>{{ gap.unitComponent.unit.name }}</span>
        <ion-badge *ngFor="let requirement of gap.unitComponent.component.requirements" (click)="test();">{{requirement.name}}</ion-badge>
        <div *ngIf="gap.user">{{gap.user.name}}</div>
      </ion-label>
    </ion-item>

<!--    <ion-item>-->
<!--      <ion-avatar slot="start">-->
<!--        <ion-img src="./avatar-frodo.jpg"></ion-img>-->
<!--      </ion-avatar>-->
<!--      <ion-label>-->
<!--        <h2>Frodo</h2>-->
<!--        <p>Go back, Sam! I'm going to Mordor alone!</p>-->
<!--      </ion-label>-->
<!--    </ion-item>-->
<!--    <ion-item>-->
<!--      <ion-avatar slot="start">-->
<!--        <ion-img src="./avatar-samwise.jpg"></ion-img>-->
<!--      </ion-avatar>-->
<!--      <ion-label>-->
<!--        <h2>Samwise</h2>-->
<!--        <p>What we need is a few good taters.</p>-->
<!--      </ion-label>-->
<!--    </ion-item>-->
  </ion-grid>
</ion-content>
